.page-footer {
  text-align: center;

  &__name{
    display: inline-block;
    font-weight: bold;
    color: #000;
  }

  &__developer{
    display: inline-block;
    text-transform: uppercase;
  }
}
