.page-header {

   &__top{
    height: 100%;
   }


  &__bordure{
    display: block;
    margin: 0;
    padding: 0;
    background: #fff;
    min-height: 56px;

    @media (min-width: $screen-md) {
      display: none;
    }
  }


  &__promo {
    min-height: 388px;
    min-width: 320px;
    background: $main-color url(../img/bg-back-mobile@1x.jpg) no-repeat center;
  }

  &__bottom {
    min-height: 220px;
    min-width: 320px;
    background: #fff;
    text-align: center;
  }
}






