html{
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}
h2{
  margin: 0;
}
p{
  text-transform: uppercase;
}

body {
  margin: 0;
  font-size: $font-size;
  font-family: sans-serif;
  line-height: 1.4;

}
